*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#navbar{
    width: 100%;
    padding: 1rem 0;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 5;
}

#navbar .container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.menu-bar{
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.menu-bar li{
    padding: 0 1.5rem;
}

.menu-bar li a{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 17px;
    text-transform: capitalize;
    line-height: 25.5px;
    text-decoration: none;
}

#navbar .icons{
    display: flex;
    align-items: center;
}

#navbar .icons a{
    padding: 0 0.5rem;
    font-size: 22px;
    color: #ffffff;
}

#navbar .icons a:last-child{
    display: none;
}



/*------------------------------------------*/
/*------------------HEADER------------------*/

#header{

    width: 100%;
    min-height: 100vh;
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) ,url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    flex-wrap: wrap;
}


#header h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 100px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 10px;
    width: 60%;
    margin: 0 auto;
}

#header p{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 43.2px;
    color:white;
    padding-bottom:4rem;
}

#header a.more{
    padding:15px 30px;
    background:white;
    color:black;
    text-decoration:none;
    border-radius: 7px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    position: relative;
  
}

#header a.more::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    top: 0;
    left: 0;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    background: #01091e;
}


#header a.more::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    bottom: 0;
    right: 0;
    transition: all 0.5s ease-in-out;
    background: #01091e;
}

#header a.more:hover::before{
    width: 100%;
    height:100%;
    opacity: 1;
}

#header a.more:hover::after{
    width: 100%;
    height:100%;
    opacity: 1;
}

#header span{
    position: relative;
    z-index: 5;
    color: black;
    transition: all 0.5s ease-in-out;
}

#header a.more:hover span{
    color: white;
}


#header .socials{
    transform: rotate(-90deg);
    position: absolute;
    right: 0;
    top:50%;
}

#header .socials span{
    color:white;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
#header .socials a{
    color:white;
    font-size: 18px;
    text-decoration: none;
    padding:0 5px;
}

/*------------------------------------------*/
/*------------------FIRST SECTION------------------*/

/*--------- Trust ----------*/
#trust{
    width: 100%;
    padding: 3rem 0;
    text-align: center;
    background: #080808;
}

#trust span{
    font-family: 'Playfair Display', serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 25.5px;
    color:#c1ab65;
}

#trust h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 45px;
    font-weight: 600;
    line-height: 58.5px;
    color:white;
    padding:30px 0;

}
#trust p{
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    color:white;
    width:40%;
    margin:0 auto;
}

#trust ul{
    list-style: none;
    display: flex;
    justify-content: center;
    
}

#trust ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
#trust ul li{
    padding:30px 30px;

}

/*------------------------------------------*/
/*------------------SECOND SECTION------------------*/

/*-------- upcoming-moovie --------*/
#upcoming-moovi{
    width: 100%;
    padding:3rem 0;
    text-align: center;
    background: #0c0c0c;
}
#upcoming-moovi .container{
    width: 70%;
    margin: 0 auto;
}
#upcoming-moovi .container > span{
    font-family: 'Playfair Display', serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 25.5px;
    color:#c1ab65;
}
#upcoming-moovi .container h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 45px;
    font-weight: 600;
    line-height: 58.5px;
    color:white;
    padding-top:30px;
    padding-bottom:30px;
}
#upcoming-moovi .container .movie-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}
#upcoming-moovi .container .movie-container .prev{
    
    width: 70px;
    height: 70px;
    color:white;
    border-radius: 50px;
    background:#111;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size:30px;
    transition: all 0.5s ease-in-out;
   

}
#upcoming-moovi .container .movie-container .prev:hover{
    background:white;
   
}
#upcoming-moovi .container .movie-container .prev:hover i{
    color:black;
}
#upcoming-moovi .container .movie-container .image-wrapper{
    width:83%;
    position: relative;
}
#upcoming-moovi .container .movie-container .image-wrapper img{
    width:100%;
    height: 100%;
}

#upcoming-moovi .container .movie-container .image-wrapper .overlay-movie-image{
    position: absolute;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}
#upcoming-moovi .container .movie-container .image-wrapper .overlay-movie-image i{
    color:white;
}
#upcoming-moovi .container .movie-container .image-wrapper .overlay-movie-image span{
    padding:30px;
    background: #c1ab65;
    border-radius: 50%;
    opacity: 0;
    transition:  all 0.5s ease-in-out;
}
#upcoming-moovi .container .movie-container .image-wrapper .overlay-movie-image:hover span{
    opacity: 1;
}
#upcoming-moovi  .movie-thumbnail-image{
    width:85%;
    display: flex;
   margin: 0 auto;
   padding-top: 20px;
}
#upcoming-moovi  .movie-thumbnail-image div{
    padding:0 1rem;
    width:33.33%;
}
#upcoming-moovi  .movie-thumbnail-image img{
    width: 100%;
}



#our-work{
    width:100%;
    padding-top:3rem;
    text-align: center;
    background: #0c0c0c;
}
#our-work .work-container{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
#our-work h4{
    font-family: 'Playfair Display', serif;
    font-size:17px;
    font-weight: 700;
    line-height: 25.5px;
    color:#c1ab65;
    padding-bottom:2rem;
}
#our-work h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size:45px;
    font-weight: 600;
    line-height: 58.5px;
    color:white;
    padding-bottom:2rem;
}
#our-work .work-container li{
    width:50%;
    position: relative;
    overflow: hidden;
}
#our-work .work-container li img{
    width: 100%;
    display: block;
    transition: all 1s ease-in-out;
}
#our-work .work-container .overlay-work{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    flex-wrap: wrap;
}
#our-work .work-container .overlay-work h2{
    width: 100%;
    text-align: center;
    padding:0;
    font-size: 30px;
    font-weight: 500;
    line-height: 39px;
}
#our-work .work-container .overlay-work h3{
    width: 100%;
    text-align: center;
    padding-bottom: 3rem;
    color:white;
}
#our-work .work-container li a {
   
}
#our-work .work-container li a:hover img{
    transform: scale(1.1);
}
#our-work .work-container li a:hover h2{
  
    color:#c1ab65;
}

#history{
    width:100%;
    text-align: center;
    padding:2rem 0;
    background:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9))
    , url(../images/history-bg.jpg)
}
#history .container{
    width: 70%;
    margin:0 auto;
}
#history h4{
    font-family: 'Playfair Display', serif;
    font-size:17px;
    font-weight: 700;
    line-height: 25.5px;
    color:#c1ab65;
    padding-bottom:2rem;
}
#history h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size:45px;
    font-weight: 600;
    line-height: 58.5px;
    color:white;
    padding-bottom:2rem;
}
#history .history-timeline{
    list-style: none;
    border-top:2px solid white;
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
}
#history .history-timeline::before{
    content:'<';
    color:white;
    position: absolute;
    top:-18.45px;
    left: -5px;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;


}
#history .history-timeline::after{
    content:'>';
    color:white;
    position: absolute;
    top:-18.45px;
    right: -5px;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;


}
#history .circle > span {
    margin-top:10px;
    border:2px solid white;
    
    width: 20px;
    height: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#history .circle > span span{
    display: inline-block;
    width:10px;
    height: 10px;
    background: white;;
    border-radius:50px ;
}
#history .timeline-container{
    margin-top: -44px;
}
#history .timeline-container > span{
    font-family: 'Playfair Display', serif;
    font-size:20px;
    font-weight: 400;
    line-height: 22.5px;
    color:rgb(213,215,215);
}

#history .history-container{
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;

}
#history .history-image{
    width:40%;
}
#history .history-image img{
    width: 100%;
    height: 100%;
}
#history .history-content{
    width:60%;
    padding-left: 30px;
}
#history .history-content ul{
    list-style: none;
    display: flex;
    margin-top: 3rem;

}
#history .history-content ul h3{
    color:white;
    font-family: 'Josefin Sans', sans-serif;
    font-size:18px;
    font-weight: 600;
    line-height: 35.2px;
}
#history .history-content ul p{
    color:white;

}
#history .history-content > p{
    color:white;
    text-align: center;
    text-align: left;
    font-family: 'Playfair Display', serif;
    font-size:17px;
    font-weight: 400;
    line-height: 25px;
}




/*------------------------------------------*/
/*------------------ Media Queries----------- */
@media(max-width: 1200px){
    #navbar .icons a:last-child{
        display: inline;
    }
    #navbar .menu-bar{
        display: none;
    }
    #header h1{
        font-size:45px;
        line-height: 58.5px;
    }
    #header .socials{
        transform: rotate(0deg);
        width: 100%;
        text-align: center;
        position: relative;
        margin-top: 2rem;
        top:0;
        font-size: 60%;
    }
    #trust h2{
        font-size: 25px;
        line-height: 32.5px;
    }
    #trust p{
        width:90%;
        font-size: 15px;
        line-height: 27px;
    }
    #trust ul li{
        width: 50%;
    }
    #upcoming-moovi .container{
        width:100%;
    }
    #upcoming-moovi .container .movie-container .prev{
        display: none;
    }
    #upcoming-moovi .container .movie-container .image-wrapper{
        width:95%;
    }
    #upcoming-moovi  .movie-thumbnail-image div:last-child{
        display: none;
    }
    #upcoming-moovi  .movie-thumbnail-image{
        width:100%;
    }
    #upcoming-moovi  .movie-thumbnail-image div{
        width: 50%;
        padding:0 0.5rem;
    }
    #history .container{
        width:90%;
    }
    #history .history-image{
        width:100%;
    }
    #history .history-content{
        width:100%;
        margin-top:2rem;
    }
    #history .history-content ul{
        flex-wrap: wrap;
    }
    #history .history-content ul li{
        width:100%;
        margin-top:2rem;
    }
}
